.header{
    background-color: black;
    color: white;
    /* width: 100%; */
   
}
ul li{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    display: inline-block;
    color: #ffffff;
    margin: 0 15px;
    margin-right: 50px;
    
    
}
ul li:hover{
    background: orange;
    color: #74b9ff;
    font-weight: bolder;
    transition: 3s all ease;
}

.headercontent{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
}

.socialmedia{
    color: #ffffff;
    border: 0;
    width: 30px;
    height: auto;
    text-align: left;
    line-height: inherit;
    font-size: 16px;
}
.logo{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}
#blue{
    color: #74b9ff;
}
#orange{
    color: orange;
}
.icon img{
    width: 100px;
}

